language: php
php:
  - "5.5"
  - "5.4"
  
before_script:
  - composer self-update
  - composer global require "fxp/composer-asset-plugin:1.0.0-beta2"
  - composer create-project --stability=dev --prefer-dist yiisoft/yii2-app-basic basic
  - cd basic

